<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div id="pjax-header">
 <div th:replace="common::common"></div>
</div>
<!--<div id="container">-->
    <div id="configList">
        <button class="btn btn-primary" type="button" v-on:click="openConfigModal"  data-i18n="monitorConfig.configMonitor"></button>
        <!--<a href="/monitorConfig/addMonitorConfig" data-i18n="monitorConfig.configMonitor"></a>-->
    </div>
<div th:replace="monitorConfig/addMonitorConfig::monitorConfig"></div>
<!--</div>-->
</body>
</html>