<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>业务列表</title>

</head>
<body>
<div id="pjax-header">
    <div th:replace="common::common"></div>
</div>
<div id="myBusiness">

    <!--<img class="breadDisplay" src="../image/业务列表.png"/>-->
    <!--<img class="breadDisplay" src="../image/breadline2.png"/>-->

    <img style="width: 100%;height: 43px;" class="breadDisplay" src="../image/alert6.png"/>
    <!--<img class="breadDisplay" src="../image/alert2.JPG"/>-->
    <!--黄色的-->
    <div id="breadline"></div>
    <div id="breadlineTitle">
        <div style="margin-top: -4px;">
            <label style="font-family: 宋体;font-weight: 600;">运行监测</label>
            <div class="middleline"></div>
            <label style="font-family: 宋体;font-weight: 600;">业务监控</label>
            <div class="middleline"></div>
            <label style="color: #f08640; font-family: 宋体;font-weight: 600;">业务清单</label>
        </div>
    </div>
    <div id="oper" style="background: #efefef;">
        <label id="refresh"> <i class="fa fa-refresh" aria-hidden="true"></i> 刷新</label>
        <!--<img class="" src="../image/alert5.png"/>-->
        <div id="tworight" style="display: inline-block">
            <div id="divselect" style="display: inline-block;">
                <!--<label>告警源 <i class="fa fa-angle-down" aria-hidden="true"></i></label>-->
                <select style="font-size: 12px; background: #efefef">
                    <option>健康度</option>
                </select>
            </div>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <div class="middleline"></div>
            <input class="" type="text" placeholder="请输入查询内容" style="border:none;background: #efefef"/>
            <div class="middleline"></div>
            <i class="fa fa-search" aria-hidden="true" style="color: #e56a15"></i>
        </div>
    </div>
    <div class="wrapper " id="businessList" style="background: #efefef;">

        <div v-for="(i,j) in businessList" class="singleBusiness" v-on:mouseover="selectStyle($event,j) "
             v-on:mouseout="outStyle($event,j)">
            <div class="businessTitle">
                <label>{{i.name}}</label>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 heartBeat">
                <i class="fa fa-heartbeat" aria-hidden="true"></i>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 healthStyle">

                <div>
                    <label data-i18n="business.list.health"></label>
                </div>
                <div id="healthScore">
                    <label>{{i.health_score}}</label>
                </div>
            </div>
            <div class="middleline"></div>

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 rightDiv">
                <div class="busyStyle">
                    <label data-i18n="business.list.busy"></label>
                </div>
                <div class="rightValue busyStyle">
                    <label>{{i.busy_score}}</label>
                </div>

                <div class="rightBottom availableStyle">
                    <label data-i18n="business.list.available"></label>
                </div>
                <div class="rightValue availableStyle">
                    <label>{{i.available_score}}</label>
                </div>
            </div>
            <div class="operBusiness" v-show="i.hoverEnable">
                <div id="seeTopo"> <i class="fa fa-eye" aria-hidden="true" v-on:click="seeRelevantTopo($event,i.uuid)"></i>
                <label data-i18n="business.list.showTopo"></label></div>
                <div id="delBus"> <i class="fa fa-trash-o" aria-hidden="true" v-on:click="delBusiness($event,i.uuid)"></i>
                    <label data-i18n="business.list.delBus"></label></div>
                <div id="editBus"> <i class="fa fa-pencil-square-o" aria-hidden="true"  v-on:click="editBusiness($event,i.uuid)"></i>
                <label data-i18n="business.list.editBus"></label></div>
            </div>
        </div>
    </div>
    <div style="background: #efefef;width: 100%;height: 70px;">
    <div class="pull-right" style="background: #efefef;">
        <div id="chosePageSize" style="margin-top: 20px;">
            <label>
                每页
                <select id="pageSize" v-on:change="research()" v-model="pageSize"
                        aria-controls="DataTables_Table_0" size="1" name="DataTables_Table_0_length">
                    <option selected="selected" value="15">15</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                条记录
            </label>
        </div>
        <ul class="pagination pagination-sm">
            <li v-on:click="previous()" class="prev"><a href="#" style="color: #485664;">&laquo;</a>
            </li>
            <div id="page">
                <select style="font-size: 12px;padding-right: 8px;"  name="monitortemplate" id="pageNum"
                        v-model="pageNum" v-on:change="search()">
                    <option v-for="page in pageNumList" :value="page">{{page}}</option>
                </select>
            </div>
            <li class="next" v-on:click="next()"><a href="#" style="color: #485664;">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
</div>
<div th:replace="business/editBusiness::editBusiness"></div>
</body>
</html>