<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body th:fragment="addCas">
<div id="addcas" class="modal fade" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog def-dialog middle-dialog">
        <div class="modal-content def-modal-content">
            <div class="modal-header def-modal-header">
                <i class="fa fa-plus skin-color"></i>
                <span>{{title}}</span>
                <button type="button" class="close skin-color close-style" data-dismiss="modal">&times;</button>
            </div>
            <hr class="skin-color border-color"/>
            <form role="form" id="add-cas">
                <div class="modal-body def-modal-body">
                    <div id="leftMenu" class="model-tab col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <ul>
                            <li v-on:click="clickResource($event,'CAS')" :class="{active:tabSelected=='CAS'}">CAS</li>
                        </ul>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <div class="form-group">
                            <label for="casip" data-i18n="monitor.baseinfo.ip"></label>
                            <i class="required">*</i>
                            <input class="form-control input-sm def-input-sm" type="text" name="ip" id="casip"
                                   v-model="infoIp"/>
                        </div>
                        <div class="form-group">
                            <label for="casname" data-i18n="monitor.baseinfo.name"></label>
                            <i class="required">*</i>
                            <input class="form-control input-sm def-input-sm" type="text" name="name" id="casname"
                                   v-model="infoName" data-i18n-placeholder="monitorConfig.placeInput"/>
                        </div>
                        <div class="form-group">
                            <label for="casport" data-i18n="monitor.baseinfo.dbport"></label>
                            <i class="required">*</i>
                            <input class="form-control input-sm def-input-sm" type="number" name="port" id="casport"
                                   v-model="infoPort" />
                        </div>
                        <div class="form-group">
                            <label for="casusername" data-i18n="monitor.baseinfo.username"></label>
                            <i class="required">*</i>
                            <input class="form-control input-sm def-input-sm" type="text" name="userName" id="casusername"
                                   v-model="infoUsername" data-i18n-placeholder="monitorConfig.placeInput"/>
                        </div>
                        <div class="form-group">
                            <label for="caspassword" data-i18n="monitor.baseinfo.password"></label>
                            <i class="required">*</i>
                            <input class="form-control input-sm def-input-sm input-no-required" type="password" name="password" id="caspassword"
                                   v-model="infoPassword" data-i18n-placeholder="monitorConfig.placeInput"/>
                        </div>

                        <!--radio-->
                        <div class="divradio">
                            <div class="myradio">
                                <input type='radio' class='type-radio'  id="raonlycvk" name="radioType"  v-model="radioType" value="1"
                                       v-on:click="clearCvkAndVm"/>
                                <label class="" for="raonlycvk" data-i18n="monitor.baseinfo.radio.onlycvk"></label>
                            </div>
                            <div class="myradio">
                                <input type='radio' class='type-radio'  id="allcvkvm" name="radioType"  v-model="radioType" value="2"
                                       v-on:click="clearCvkAndVm"/>
                                <label class="" for="allcvkvm" data-i18n="monitor.baseinfo.radio.allcvkvm"></label>
                            </div>
                            <div class="myradio">
                                <input type='radio' class='type-radio'  id="pointcvkvm" name="radioType" v-model="radioType" value="3"
                                       v-on:click="getCvkAndVm"/>
                                <label class="" for="pointcvkvm" data-i18n="monitor.baseinfo.radio.pointcvkvm"></label>
                            </div>
                        </div>

                        <div  v-show="radioType=='3'" class="form-group">
                            <table class="table table-bordered table-left">
                                <tbody>
                                <template v-for="(i,j) in cvkList">
                                    <tr :id="i.id"  v-on:click="choseHost($event,i.id)">
                                        <td  class="no-part-border">{{i.name}}</td>
                                        <td class="">{{i.ip}}</td>
                                    </tr>
                                </template>
                                </tbody>
                            </table>
                            <table class="table table-bordered">
                                <tbody>
                                <template v-for="(i,j) in vmList" >
                                    <tr :id="i.id"  v-on:click="addVm($event,i)">
                                        <td class="no-part-border">{{i.name}}</td>
                                        <td >{{i.ip}}</td>
                                    </tr>
                                </template>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group">
                            <label for="castimeinterval" data-i18n="monitor.baseinfo.timeinterval"></label>
                            <i class="required">*</i>
                            <input class="form-control input-sm def-input-sm" type="number" name="timeinterval" id="castimeinterval"
                                   v-model="infoTimeinterval" />
                        </div>
                        <div class="form-group">
                            <label for="castimeout" data-i18n="monitor.baseinfo.timeout"></label>
                            <i class="required">*</i>
                            <input class="form-control input-sm def-input-sm" type="number" name="timeout" id="castimeout"
                                   v-model="infoTimeout" />
                        </div>
                        <!--<div class="form-group">-->
                        <div class="form-group">
                            <label for="casmonitortemplate" data-i18n="monitor.baseinfo.casMonitortemplate"></label>
                            <i class="required">*</i>
                            <select class="form-control input-sm def-input-sm"  name="casTemplate" id="casmonitortemplate"
                                    v-model="infoCasMonitortemplate" >
                                <option v-for="template in casTemplateList" :value="template.uuid">{{template.templateName}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="cvkmonitortemplate" data-i18n="monitor.baseinfo.cvkMonitortemplate"></label>
                            <i class="required">*</i>
                            <select class="form-control input-sm def-input-sm"  name="cvkTemplate" id="cvkmonitortemplate"
                                    v-model="infoCvkMonitortemplate" >
                                <option v-for="template in cvkTemplateList" :value="template.uuid">{{template.templateName}}</option>
                            </select>
                        </div>
                        <div  v-show="radioType=='2' || radioType=='3'" class="form-group">
                            <label for="vmmonitortemplate" data-i18n="monitor.baseinfo.vmMonitortemplate"></label>
                            <i class="required">*</i>
                            <select class="form-control input-sm def-input-sm"  name="vmTemplate" id="vmmonitortemplate"
                                    v-model="infoVmMonitortemplate" >
                                <option v-for="template in vmTemplateList" :value="template.uuid">{{template.templateName}}</option>
                            </select>
                        </div>
                    <!--</div>-->
                </div>
                <div class="modal-footer def-modal-footer">
                    <button type="button" class="btn def-btn def-btn-primary" data-i18n="modal.footer.test"></button>
                    <input type="submit" class="btn def-btn def-btn-primary" data-i18n="modal.footer.submit"/>
                    <button type="button" class="btn def-btn def-btn-default" data-dismiss="modal"
                            data-i18n="modal.footer.cancel"></button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>