<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body th:fragment="addDB">
<div id="adddb" class="modal fade" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog def-dialog middle-dialog">
        <div class="modal-content def-modal-content">
            <div class="modal-header def-modal-header">
                <i class="fa skin-color"  :class="{'fa-plus':monitorOpe!='edit','fa-edit':monitorOpe=='edit'}"></i>
                <span>{{title}}</span>
                <button type="button" class="close skin-color close-style" data-dismiss="modal">&times;</button>
            </div>
            <hr class="skin-color border-color"/>
            <form role="form" id="add-db">
                <div class="modal-body def-modal-body">
                    <div id="leftMenu" class="model-tab col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <ul>
                            <li v-on:click="clickResource($event,'MySQL')" :class="{active:tabSelected=='MySQL'}">MySQL</li>
                        </ul>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <div class="form-group">
                            <label for="dbip" data-i18n="monitor.baseinfo.ip"></label>
                            <i class="required">*</i>
                            <input class="form-control input-sm def-input-sm" type="text" name="ip" id="dbip"
                                   v-model="infoIp"/>
                        </div>
                        <div class="form-group">
                            <label for="dbname" data-i18n="monitor.baseinfo.name"></label>
                            <i class="required">*</i>
                            <input class="form-control input-sm def-input-sm" type="text" name="name" id="dbname"
                                   v-model="infoName" data-i18n-placeholder="monitorConfig.placeInput"/>
                        </div>
                        <div class="form-group">
                            <label for="dbusername" data-i18n="monitor.baseinfo.username"></label>
                            <i class="required">*</i>
                            <input class="form-control input-sm def-input-sm" type="text" name="userName" id="dbusername"
                                   v-model="infoUsername" data-i18n-placeholder="monitorConfig.placeInput"/>
                        </div>
                        <div class="form-group">
                            <label for="dbpassword" data-i18n="monitor.baseinfo.password"></label>
                            <i class="required">*</i>
                            <input class="form-control input-sm def-input-sm input-no-required" type="password" name="password" id="dbpassword"
                                   v-model="infoPassword" data-i18n-placeholder="monitorConfig.placeInput"/>
                        </div>
                        <div class="form-group">
                            <label for="dbport" data-i18n="monitor.baseinfo.dbport"></label>
                            <i class="required">*</i>
                            <input class="form-control input-sm def-input-sm" type="number" name="port" id="dbport"
                                   v-model="infoPort" />
                        </div>
                        <div class="form-group">
                            <label for="dbtimeinterval" data-i18n="monitor.baseinfo.timeinterval"></label>
                            <i class="required">*</i>
                            <input class="form-control input-sm def-input-sm" type="number" name="timeinterval" id="dbtimeinterval"
                                   v-model="infoTimeinterval" />
                        </div>
                        <div class="form-group">
                            <label for="dbtimeout" data-i18n="monitor.baseinfo.timeout"></label>
                            <i class="required">*</i>
                            <input class="form-control input-sm def-input-sm" type="number" name="timeout" id="dbtimeout"
                                   v-model="infoTimeout" />
                        </div>
                        <div class="form-group">
                            <label for="dbdatabaseName" data-i18n="monitor.baseinfo.dbname"></label>
                            <i class="required">*</i>
                            <input class="form-control input-sm def-input-sm" type="text" name="databaseName" id="dbdatabaseName"
                                   v-model="infoBbname"  data-i18n-placeholder="monitorConfig.placeInput"/>
                        </div>
                        <!--<div class="form-group">-->
                        <div class="form-group">
                            <label for="dbmonitortemplate" data-i18n="monitor.baseinfo.monitortemplate"></label>
                            <i class="required">*</i>
                            <select class="form-control input-sm def-input-sm"  name="monitortemplate" id="dbmonitortemplate"
                                    v-model="infoMonitortemplate" >
                                <option v-for="template in templateList" :value="template.uuid">{{template.templateName}}</option>
                            </select>
                        </div>
                    <!--</div>-->
                </div>
                </div>
                <div class="modal-footer def-modal-footer">
                    <button type="button" class="btn def-btn def-btn-primary" data-i18n="modal.footer.test" v-on:click="canReach"></button>
                    <input type="submit" class="btn def-btn def-btn-primary" data-i18n="modal.footer.submit"/>
                    <button type="button" class="btn def-btn def-btn-default" data-dismiss="modal"
                            data-i18n="modal.footer.cancel"></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>