input[type=text]{
    border: 1px solid #999;
    border-radius: 2px;
}
.def-input-sm{
    display: inline-block;
    width: 200px;
    margin-left: 8px;
}
.form-group{
    margin-bottom: 15px;
    margin-top: 15px;
}
.hidden{
    display: none;
}
.skin-color{
    color: #ec670b !important;
}
.modal-header .close-style{
    opacity: 1;
    outline: none;
}
.modal-dialog .def-modal-header{
    border: none;
    padding: 10px 10px 0;
}
.modal-dialog hr{
    margin: 0 10px;
}
.modal-dialog .border-color{
    border-top: 2px solid #ec670b
}
.modal .def-dialog{
    width: 82%;
}
.magic-radio +label::before{
    border-radius: 50%;
    position: absolute;
    top:0;
    left:0;
    display: inline-block;
    width: 16px;
    height: 16px;
    content: '';
    border: 1px solid #c0c0c0;
}
.magic-radio +label::after{
    top: 5px;
    left: 5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ec670b;
}
.magic-radio:checked +label::before{
    border: 1px solid #ec670b;
}
.magic-radio:checked +label::after{
    display: block;
}

label{
    font: normal 12px arial;
}
#monitorBasicInfo .radio-float{
    float: left;
    margin-left: 30px;
}
.active:not(.page-item){
    background: #ec670b;
}
.snmp-magic-radio +label{
    background: #ffffff;
}
.snmp-magic-radio:checked +label{
    color: #ffffff;
    background: #ec670b;
}
.radio-group .chose-label{
    width: 88px;
    height: 28px;
    border: 1px solid #ec670b;
    text-align: center;
    padding-top: 6px;
    cursor: pointer;
}
.radio-group .chose-label2{
    margin-left: -5px
}
.def-modal-body{
    height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
}
.def-modal-footer{
    text-align: center;
    border-top: none;
}
.def-btn{
    font-size: 12px;
    width: 100px;
    border: none;
    border-radius: 2px;
    outline: none
}
.def-btn-primary{
    color: #ffffff;
    background: #777777;
    box-shadow: 2px 2px 2px 2px #555;
}
.def-btn-default{
    color: #555;
    background: #ffffff;
    box-shadow: 2px 2px 2px 2px #737373;
}
.def-modal-content{
    border-radius: 4px;
}
.modal-backdrop.in{
 opacity: 0.2;
}
table input[type=text],
table select{
    width: 60px;
    height: 24px;
    border: 0.2px solid #ec670b;
    outline: none;
    border-radius: 0;
}
.def-i,
.def-close{
    cursor: pointer;
}
form .error{
    font-size: 12px;
    margin-left: 4px;
}
form span[id$="error"]{
    color: #c11212
}
.required{
    font-size: 20px;
    color: #c11212;
}
.prompt-modal{
    position: absolute;
    /*top: 10px;*/
    /*right: 10px;*/
    width: 260px;
    height: 90px;
    border-radius: 2px;
    border: 1px solid #ec670b;
    /*text-align: center;*/
    overflow: hidden;
    color: #2BDE3F;
    background: #fff;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
    animation: mymove 500ms linear forwards;
    z-index: 1;
}
@-webkit-keyframes mymove {
    0% { top: 200px; right: 10px;}
    25% { top: 150px; right: 10px;}
    50% { top: 100px; right: 10px;}
    75% { top: 50px; right: 10px;}
    100% { top: 10px; right: 10px;}

}
.prompt-alert{
    color: #FFC007;
}
.prompt-close{
    float: right;
    margin: 4px;
}
.prompt-label{
    font-size: 14px;
    display: inline-block;
    margin-left: 54px;
    margin-top: 20px;
}
.prompt-title{
    color: #3e3e3e;
    font-weight: 700;
    margin-bottom: 0;
}
.prompt-info{
    color: #878787;
    margin-bottom: 0;
}
/*.prompt:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}*/
#prompt-modal #info-ident{
    color: #fff;
}
.def-ident{
    position: absolute;
    top: 30%;
    left: 12px;
}
.model-tab{
    /*width:25%;*/
    height: 100%;
    /*float: left;*/
    box-shadow: 1px 2px 20px 2px #eee;
}
ul:not(.pagination) {
    list-style: none;
    padding:0;
}
li:not(.page-item):not(.prev):not(.next) {
    height: 50px;
    text-align: left;
    padding: 12px;
    cursor: pointer;
}

li:hover:not(.page-item):not(.prev):not(.next),
li.active:not(.page-item):not(.prev):not(.next){
    border-left: 10px solid #ec670b;
    color: #ec670b;
    background: -webkit-linear-gradient(left, rgb(249, 203, 164), rgb(245, 237, 229));
    background: -ms-linear-gradient(left, rgb(249, 203, 164), rgb(245, 237, 229));
    background: -moz-linear-gradient(left, rgb(249, 203, 164), rgb(245, 237, 229));
    background: -o-linear-gradient(left, rgb(249, 203, 164), rgb(245, 237, 229));
    background: linear-gradient(left, rgb(249, 203, 164), rgb(245, 237, 229));
}
.middle-dialog{
    width: 50% !important;
}
.form-group label{
    padding: 3px 6px;
    text-align: right;
    width: 100px;
    vertical-align: top;
}
.form-group .input-no-required{
    margin-left: 18px;
}

a{
    color: #fff;
}
.mycheck{
    position: relative;
    margin-left: 60px;
}
.myradio{
    position: relative;
}
input[type="checkbox"]{
    -webkit-appearance: none;
    vertical-align:middle;
    margin-top:0;
    background:#fff;
    border:#ec670b solid 1px;
    /*border-radius: 3px;*/
    min-height: 14px;
    min-width: 14px;
}
input[type="checkbox"]:checked {
    background: #ec670b;
}
input[type="checkbox"]:checked::after:not(#monitorResourcelist input[type="checkbox"]:checked::after)
:not(#busResourcelist input[type="checkbox"]:checked::after):not(#monitorConifgList input[type="checkbox"]:checked::after){
     content: '';
     top: 5px;
     left: 3px;
     position: absolute;
     background: transparent;
     border: #fff solid 2px;
     border-top: none;
     border-right: none;
     height: 6px;
     width: 10px;
     -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     -webkit-transform: rotate(-45deg);
     transform: rotate(-45deg);
 }
#monitorConifgList input[type="checkbox"]:checked::after,
#busResourcelist input[type="checkbox"]:checked::after,
#monitorResourcelist input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    background: transparent;
    border: #fff solid 2px;
    border-top: none;
    border-right: none;
    height: 6px;
    width: 10px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.label-alginleft{
    text-align: left !important;
}
.type-radio{
    -webkit-appearance: none;
    vertical-align:middle;
    margin-top:0 !important;
    background:#fff;
    border:#ec670b solid 1px;
    border-radius: 10px;
    min-height: 14px;
    min-width: 14px;
}
.type-radio:checked {
    background: #fff;
}
.type-radio:checked::after {
    content: '';
    top: 8px;
    left: 4px;
    position: absolute;
    border: #ec670b solid 3px;
    height: 6px;
    width: 6px;
    border-radius: 3px;
}
.mycheck input[type="checkbox"]:checked::after{
    top: 14px;
    left: 13px;
}
.bootstrap-table .pagination-detail{
    display: none;
}
.tr-background{
    background: #ec670b;
}
table{
    overflow-y: auto;
    overflow-x: hidden;
}
.critical{
    color: #c11212;
}
.major{
    color: #ec670b;
}

.minor{
    color: #ffc267;
}
.warn{
    color: #22a5df;
}
.notice{
    color: #3e3e3e;
}
.btn-cancel{
    border: 1px solid #eee;
}
.btn:hover:not(.btn-cancel){
    color: #fff;
}