
#monitorBasicInfo .radio-left{
    margin-left: 34px;
}

#performanceContainer .span-title,
#avaliableContainer .span-title{
    color: #ec670b;
    font-size: 14px;
    margin-left: -10px;
}
#avaliableContainer table{

}
#performanceContainer table .span-line,
#avaliableContainer table .span-line{
    border-left: 1px solid #cccccc;
    margin-right: 6px;
}
/*#performanceContainer table tbody tr td:not(:nth-child(1)),*/
/*#avaliableContainer table tbody tr td:not(:nth-child(1)){*/
#performanceContainer table tbody tr td,
#avaliableContainer table tbody tr td{
    padding-left: 18px;
}
#avaliableContainer table tr .td-group ,
#performanceContainer table tr .td-group {
    padding-left: 0 !important;
}
#performanceContainer table .display-inline{
    display: inline-block;
}
#performanceContainer table .span-more-condition{
    cursor: pointer;
    padding: 4px;
    border: 0.2px solid #ec670b;
    margin-right: 4px;
}
#performanceContainer table .span-more-line{
    cursor: pointer;
    padding: 4px 12px 4px;
    border: 0.2px solid #ec670b;
    margin-right: 4px;
}
#performanceContainer table #second-line-thresh{
    margin-top: 2px;
}
#avaliableContainer table .toggle-font,
#performanceContainer table .toggle-font{
    margin-left: 6px;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    top: 4px;
    cursor: pointer;
}
#addcas .divradio,
#addk8s .divradio{
    margin-left: 120px;
}
#add-cas table{
    width: 146px;
    height: 400px;
    display: inline-block;
}
#add-cas .table-left{
    margin-left: 102px;
}
#add-cas .table-right{
    margin-left: 250px;
}
#add-cas .no-part-border {
    border-right: 1px solid transparent !important;
}

#tipNodeMsg{
    position: absolute;
}
#tipLinkMsg{
    position: absolute;
}
#mycanvas .topotip,
#mynetcanvas .topotip{
    width: 230px;
    height: 170px;
    opacity: 1.0;
    background: #fff;
    border: solid 1px #ccc;
}
#mycanvas .topotip{
    height: 110px;
}
#mycanvas .topoLinktip{
    height: 70px;
}
#mycanvas .topotip .tip-node-name{
    padding-left: 30px;
    padding-top: 10px;
}
#mycanvas .topotip .tip-node-others{
    padding-left: 30px;
}
#mycanvas .topotip .tip-link-others{
    padding-left: 20px;
}
#mynetcanvas .topotip fieldset{
    padding: 0 10px;
    border: 1px solid silver;
    margin: 0 10px;
}
#mynetcanvas .topotip fieldset legend{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0 !important;
    border-bottom: 0;
    width: 20%;
}
#mynetcanvas .topotip .alertspan{
    width: 60px;
    display: inline-block;
}
#mynetcanvas .topotip .tip-node-type{
    padding-top: 8px;
    padding-left: 5px;
}
#mynetcanvas .topotip .tip-node-others{
    margin-left: 30px;
}
#mynetcanvas .topotip .tip-link-type{
    padding-left: 15px;
}
#myBusiness .breadDisplay{
    width: 100%;
}

#myBusiness {
    height: 100%;
    background: #fafafb;
}
#myBusiness .wrapper {
    display: grid;
    grid-template-columns: 246px 246px 246px 246px 246px;
    grid-template-rows: 150px;
    padding: 10px;
}
#myBusiness #businessList  .singleBusiness{
    background: #fff;
    padding: 6px;
    border: solid 1px #ddd;
    margin: 5px;
    height: 150px;
}

#myBusiness #businessList .businessTitle{
    text-align: center;
    background: #f1f1f1;
}
#myBusiness .mostBusy {
    color: #c11212;
}
#myBusiness .normalBusy {
    color: #f08640;
}
#myBusiness .notBusy {
    color: #39ab6c;
}
#myBusiness #businessList .healthStyle{
    text-align: center;
    padding: 10px 0px;
    margin: 0 6px;
}
#myBusiness #businessList .healthStyle label{
    /*font-size: 20px;*/
}
#myBusiness #businessList .healthStyle #healthScore{
    padding-top: 10px;
}
#myBusiness #businessList .healthStyle #healthScore label{
    font-size: 18px;
}
#myBusiness #businessList .middleline{
    display: inline-block;
    /*float: left;*/
    border: #eae9e9 solid 0.1px;
    height: 70%;
    margin: 8px 0 8px -60px;
}
#myBusiness #businessList .rightDiv{
    padding: 8px;
    margin-left: 6px;
    text-align: center;
}
#myBusiness #businessList .rightDiv .rightValue{
   margin-top: -2px;
}
#myBusiness #businessList .rightDiv .rightBottom{
    margin-top: 4px;
}
#myBusiness #businessList .operBusiness{
    /* margin-top: -110px; */
    position: relative;
    background: #fff;
    height: 86%;
    width: 105%;
    /* margin-left: -5px; */
    border: solid 1px #ddd;
    opacity: 0.9;
    top: -116px;
    left: -5px;
}
#myBusiness #businessList .heartBeat{
    font-size: 70px;
}
/*#myBusiness #businessList .singleBusiness:nth-child(-n+5) .operBusiness{*/
    /*top:-110px;*/
/*}*/

/*#myBusiness #businessList .singleBusiness:nth-child(1) .operBusiness,*/
/*#myBusiness #businessList .singleBusiness:nth-child(2) .operBusiness,*/
/*#myBusiness #businessList .singleBusiness:nth-child(3) .operBusiness,*/
/*#myBusiness #businessList .singleBusiness:nth-child(4) .operBusiness,*/
/*#myBusiness #businessList .singleBusiness:nth-child(5) .operBusiness{*/
    /*top:-110px*/
/*}*/

#myBusiness #businessList #seeTopo,
#myBusiness #businessList #editBus{
    display: inline-block;
    width: 30px;
    text-align: center;
    padding: 10px 0;
    margin: 10px 0 0 80px;
    cursor: pointer;
}
#myBusiness #businessList #editBus{
    margin-left: 2px;
}
#myBusiness .prev a,
#myBusiness .next a{
    float: none;
}
#myBusiness #page{
    display: inline-block;
}
#myBusiness #chosePageSize{
    width: 150px;
    float: right;
    margin-top: 24px;
    padding: 0 10px;
}
#myalert #breadline{
    background: #e56a15;
    width: 60px;
    height: 5px;
    margin-left: 500px;
    position: absolute;
    top: 2px;
}
#myalert #breadlineTitle{
    width: 100%;
    height: 36px;
    box-shadow: 1px 1px 2px 1px #eee;
    padding-top: 7px;
    padding-left: 40px;
    border-top: solid #e1e2e2;
    margin-top: 6px;
}

#myalert #leftMenu{
    height: 600px;
    margin-top: 10px;
}
#myalert ul i{
    color: #afa8a6
}
#myalert #filter{
    height: 40px;
    padding: 10px;
}
#myalert #filter .labelCondition{
    width: 80px;
    height: 26px;
    background: #56c58a;
    color: #fff;
    padding: 4px;
}
#myalert #filter .labelCondition i{
    margin-left: 7px;
}
#myalert #oper #refresh{
    width: 90px;
    height: 30px;
    background: #928886;
    color: #fff;
    font-weight: 600;
    border-radius: 3px;
    padding: 6px;
    /* padding-left: 10px; */
    text-align: center;
}
#divselect{
    width: 60px;
    /* border-right: none; */
    height: 20px;
    border-radius: 5px;
    /* box-shadow: -1px 10px 0px 0.4px #ccc; */
    position: relative;
}
#divselect select{
    border: none;
    outline: none;
    width: 100%;
    height: 20px;
    line-height: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* padding-left: 60px; */
    padding-left: 10px;
}
/*//使用伪类给select添加自己想用的图标*/
  /*div:after{*/
      /*content: "";*/
      /*width: 14px;*/
      /*height: 8px;*/
      /*background: url(img/xiala.png) no-repeat center;*/
  /*//通过定位将图标放在合适的位置*/
  /*position: absolute;*/
      /*right: 20px;*/
      /*top: 45%;*/
  /*//给自定义的图标实现点击下来功能*/
  /*pointer-events: none;*/
  /*}*/

#myalert #oper #tworight{
    display: inline-block;
    border-bottom: 0.1px solid #ccc;
    padding-bottom: 1px;
    width: 290px;
    margin-left: 638px;
}
#myalert #oper .middleline{
    display: inline-block;
    /* float: left; */
    background: #eee;
    /* border: #eae9e9 solid 1px; */
    height: 22px;
    width: 1px;
}
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #afafb0;
    font-size: 11px;
}

#myalert .sort{
    position: relative;
    padding-right: 15px;
    color: #a39a99;
}
#myalert .sort:before,
#myalert .sort:after{
    position: absolute;
    right: 5px;
    z-index: 1;
    font-size: 12px;
    top: -10px;
}
#myalert .sort:before{
    /*top:2px;*/
    content: "\f0de";
}
#myalert .sort:after{
    /*bottom:2px;*/
    content: "\f0dd";
}
#myalert #alertlist .middleline{
    display: inline-block;
    background: #eee;
    height: 24px;
    width: 1.4px;
    margin-left: 30px;
    position: relative;
    top: 8px;
}
/*紧急*/
.major{
    width: 14px;
    height: 14px;
    border-radius: 14px;
    background: #c11212;
}