
#monitorBasicInfo .radio-left{
    margin-left: 34px;
}

#performanceContainer .span-title,
#avaliableContainer .span-title{
    color: #ec670b;
    font-size: 14px;
    margin-left: -10px;
}
#avaliableContainer table{

}
#performanceContainer table .span-line,
#avaliableContainer table .span-line{
    border-left: 1px solid #cccccc;
    margin-right: 6px;
}
/*#performanceContainer table tbody tr td:not(:nth-child(1)),*/
/*#avaliableContainer table tbody tr td:not(:nth-child(1)){*/
#performanceContainer table tbody tr td,
#avaliableContainer table tbody tr td{
    padding-left: 18px;
}
#avaliableContainer table tr .td-group ,
#performanceContainer table tr .td-group {
    padding-left: 0 !important;
}
#performanceContainer table .display-inline{
    display: inline-block;
}
#performanceContainer table .span-more-condition{
    cursor: pointer;
    padding: 4px;
    border: 0.2px solid #ec670b;
    margin-right: 4px;
}
#performanceContainer table .span-more-line{
    cursor: pointer;
    padding: 4px 12px 4px;
    border: 0.2px solid #ec670b;
    margin-right: 4px;
}
#performanceContainer table #second-line-thresh{
    margin-top: 2px;
}
#avaliableContainer table .toggle-font,
#performanceContainer table .toggle-font{
    margin-left: 6px;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    top: 4px;
    cursor: pointer;
}
