<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body th:fragment="monitorConfig">
<!--<div id="container">-->
<div id="monitorConfig" class="modal fade" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog def-dialog">
        <div class="modal-content def-modal-content">
            <div class="modal-header def-modal-header">
                <i class="fa fa-plus skin-color"></i>
                <span data-i18n="monitorConfig.title.addTemplateName"></span>
                <!--<i class="fa fa-close skin-color"></i>-->
                <button type="button" class="close skin-color close-style" data-dismiss="modal">&times;</button>
            </div>
            <hr class="skin-color border-color"/>
            <form role="form" id="add-template">
                <div class="modal-body def-modal-body">
                    <div id="monitorBasicInfo" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="tempName" data-i18n="monitorConfig.templateName"></label>
                            <i class="required">*</i>
                            <input class="form-control input-sm def-input-sm" type="text" name="tempName" id="tempName"
                                   v-model="templateName" data-i18n-placeholder="monitorConfig.placeInput"/>
                        </div>
                        <!--v-on:click="toggleMoitorMode"-->
                        <div class="form-group radio-group" v-show="lightClass=='network'">
                            <label data-i18n="monitorConfig.snmpVerion"></label>
                            <!--<div class="radio-one radio-left">-->
                            <input type="radio" id="snmpv1" class="snmp-magic-radio radio-left hidden "
                                   v-model="monitorMode"
                                   value="snmp_v1"/>
                            <label class="chose-label radio-left" for="snmpv1" data-i18n="monitorConfig.snmpv1"
                                   v-on:click="toggleMoitorMode('snmp_v1')"></label>
                            <!--</div>-->
                            <!--<div class="radio-one">-->
                            <input type="radio" id="snmpv2" class="snmp-magic-radio hidden" v-model="monitorMode"
                                   value="snmp_v2c"/>
                            <label class="chose-label chose-label2" for="snmpv2"
                                   data-i18n="monitorConfig.snmpv2c" v-on:click="toggleMoitorMode('snmp_v2c')"></label>
                            <!--</div>-->
                        </div>
                    </div>
                    <div id="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div id="avaliableContainer">
                            <span class="span-title" data-i18n="monitorConfig.availConfig"></span>
                            <div id="available">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <td data-i18n="monitorConfig.metricName"></td>
                                        <td><span class="span-line"></span><span
                                                data-i18n="monitorConfig.alertLevel"></span></td>
                                        <td><span class="span-line"></span><span
                                                data-i18n="monitorConfig.metricDescription"></span></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <template v-for="(i,j) in availDataObj">
                                        <tr :id="'avail_'+i.type">
                                            <td colspan="3" class="td-group">{{i.type|convertType}}<i
                                                    class="fa fa-angle-down skin-color toggle-font"
                                                    v-on:click="toggleType($event)"></i></td>
                                        </tr>
                                        <template v-for="(item,index) in i.data">
                                            <tr :id="'avail_'+i.type+index">
                                                <td>{{item.name|convertName}}</td>
                                                <td>
                                                    <select v-model="item.severity">
                                                        <option v-for="(alert,alertin) in alertLevel" :value="alert.value">{{alert.text}}</option>
                                                    </select>
                                                </td>
                                                <td>{{item.description|convertDesc}}</td>
                                            </tr>
                                        </template>
                                    </template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="performanceContainer">
                            <span class="span-title" data-i18n="monitorConfig.perfConfig"></span>
                            <div id="performance">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <td data-i18n="monitorConfig.metricName" class="td-group"></td>
                                        <td><span class="span-line"></span><span
                                                data-i18n="monitorConfig.thresholdDefine"></span></td>
                                        <td><span class="span-line"></span><span
                                                data-i18n="monitorConfig.metricDescription"></span></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <template v-for="(i,j) in perfDataObj">
                                        <tr :id="'perf_'+i.type+j">
                                            <td colspan="3" class="td-group">{{i.type|convertType}}<i
                                                    class="fa fa-angle-down skin-color toggle-font"
                                                    v-on:click="toggleType($event)"></i></td>
                                        </tr>
                                        <template v-for="(item,index) in i.data">
                                            <tr :id="'perf_'+item.metric_type+index">
                                                <td>{{item.name|convertName}}</td>
                                                <td>
                                                    <div>
                                                        <div class="display-inline">
                                                            <select v-model="item.level_one_severity">
                                                                <option v-for="(alert,alertin) in alertLevel" :value="alert.value">{{alert.text}}</option>
                                                            </select>
                                                            <select v-model="item.level_one_alert_first_condition">
                                                                <option v-for="(condition,conditionin) in alertCondition" :value="condition.value">{{condition.text}}</option>
                                                            </select>
                                                            <input type="text" :id="'perf_oneoneshresh'+item.uuid"
                                                                   v-model="item.level_one_first_threshold"/>
                                                            <span id="firstFirstUnit">{{item.metric_display_unit}}</span>
                                                            <span class="span-more-condition"
                                                                  v-on:click="showMoreCondition($event)">{{moreCondition}}</span>
                                                        </div>
                                                        <div class="display-inline hidden">
                                                            <select v-model="item.level_one_expression_more">
                                                                <option v-for="(more,morein) in expressionMore" :value="more.value">{{more.text}}</option>
                                                            </select>
                                                            <select v-model="item.level_one_alert_second_condition">
                                                                <option v-for="(condition,conditionin) in alertCondition" :value="condition.value">{{condition.text}}</option>
                                                            </select>
                                                            <input type="text" :id="'perf_onetwoshresh'+item.uuid"
                                                                   v-model="item.level_one_second_threshold"/>
                                                            <span id="firstSecondUnit">{{item.metric_display_unit}}</span>
                                                            <i class="fa fa-close skin-color def-close"
                                                               v-on:click="closeCondition($event)"></i>
                                                        </div>
                                                        <span class="span-more-line"
                                                              v-on:click="showMoreLine($event)"><i
                                                                class="fa fa-plus def-i skin-color"></i></span>
                                                    </div>
                                                    <div id="second-line-thresh" class="hidden">
                                                        <div class="display-inline">
                                                            <select  v-model="item.level_two_severity">
                                                                <option v-for="(alert,alertin) in alertLevel" :value="alert.value">{{alert.text}}</option>
                                                            </select>
                                                            <select v-model="item.level_two_alert_first_condition">
                                                                <option v-for="(condition,conditionin) in alertCondition" :value="condition.value">{{condition.text}}</option>
                                                            </select>
                                                            <input type="text" :id="'perf_twooneshresh'+item.uuid"
                                                                   v-model="item.level_two_first_threshold"/>
                                                            <span id="secondFirstUnit">{{item.metric_display_unit}}</span>
                                                            <i class="fa fa-close skin-color def-close"
                                                               v-on:click="closeCondition($event)"></i>
                                                            <span class="span-more-condition"
                                                                  v-on:click="showMoreCondition($event)">{{moreCondition}}</span>
                                                        </div>
                                                        <div class="display-inline hidden">
                                                            <select v-model="item.level_two_expression_more">
                                                                <option v-for="(more,morein) in expressionMore" :value="more.value">{{more.text}}</option>
                                                            </select>
                                                            <select v-model="item.level_two_alert_second_condition">
                                                                <option v-for="(condition,conditionin) in alertCondition" :value="condition.value">{{condition.text}}</option>
                                                            </select>
                                                            <input type="text" :id="'perf_twotwoshresh'+item.uuid"
                                                                   v-model="item.level_two_second_threshold"/>
                                                            <span id="secondSecondUnit">{{item.metric_display_unit}}</span>
                                                            <i class="fa fa-close skin-color def-close"
                                                               v-on:click="closeCondition($event)"></i>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>{{item.description|convertDesc}}</td>
                                            </tr>
                                        </template>
                                    </template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer def-modal-footer">
                    <input type="submit" class="btn def-btn def-btn-primary" data-i18n="modal.footer.submit"/>
                    <button type="button" class="btn def-btn def-btn-default" data-dismiss="modal"
                            data-i18n="modal.footer.cancel"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--</div>-->
</body>
</html>